<%- include ('partials/header.ejs', {data: 'listaFormaPagto' }) %>
<body>
    <%- include ('partials/navbar.ejs', {data: 'listaFormaPagto' }) %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Cadastro Formas de Pagamentos</h3>    
            </div>
            <div class="card-body">
                <label>Quantidade Parcela</label>
                <input type="number" placeholder="1" class="form-control">
                <label>Forma de Pagamento</label>
                <input type="text" placeholder="Digite a forma de Pagamento..." class="form-control">
                <label>Desconto</label>
                <input type="number" placeholder="Digite o valor do desconto" class="form-control">
                <br>
                <button class="btn btn-success">Salvar</button>        
            </div>
        </div>
    </div>
    
</body>
<%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>
<style>
    body{
        background-color: #eceff1;
    }
</style>
</html>