<%- include ('partials/header.ejs', {data: 'index' }) %>
<body>
<%- include ('partials/navbar.ejs', {data: 'index' }) %>
    <div class="container">        
        <div class="card">
            <div class="card-header">
                <h3>Pagamento</h3>                    
            </div>
            <div class="card-body">
                <form>
                    <label>Valor Prouto</label>
                    <input type="number" placeholder="Digite o Valor" class="form-control">
                    <label>Forma Pagamento</label>
                    <input type="text" placeholder="Selecione a forma de Pagamento" class="form-control" list="listaFormaPagto" onclick="calculaDesconto(value)">
                    <datalist Id="listaFormaPagto">
                        <option value="À vista diheiro/cheque"></option>
                        <option value="À vista cartão"></option>
                        <option value="2x no cartão"></option>
                        <option value="3x ou mais no cartão"></option>
                    </datalist>
                    <label>Desconto</label>
                    <input type="number" placeholder="Valor do Desconto" class="form-control" readonly>
                    <label>Valor Total Compra</label>
                    <input type="number" placeholder="Valor da compra com Desconto" class="form-control" readonly>
                    <br>
                    <button class="btn btn-success">Pagar</button>
                </form>                
            </div>
        </div>            
    </div>    
</body>
<%- include ('partials/footer.ejs') %>
<%- include ('partials/scripts.ejs') %>